@import "~bulma/sass/utilities/_all";

// Set your colors
$gray: #cac9c0;
$white: #e8e9eb;

$primary: #ef6461;
$primary-invert: findColorInvert($primary);
$secondary: #e4b363; // Not a bulma var
$secondary-invert: findColorInvert(#e4b363); // Not a bulma var

$success: #27ae60;
$danger: #e74c3c;

$background: #19202c;
$backgroundHighlight: #5e35b17a;
$background-invert: $backgroundHighlight;
$backgroundAccent: #49346f;

$light: $gray;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
);

// Text
$text: $white;
$text-light: #f6f6f9; // Might need to be changed
$text-strong: $primary;

// Links
$link: $text;
$link-hover: $secondary;
$link-active: $secondary;

// body
$body-background-color: $background;

// Menu
$menu-item-active-background-color: $backgroundHighlight;
